@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #141419;
  --secondary-background-color: #1B1C21;
  --primary-color: #26b4d4;
}

body {
  background-color: var(--background-color);
}

.next-teste {
  fill: white;
}
